body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #XXXXXX;
    --Secondary-color: #XXXXXX;                                                                                                                                     
    --accent1-color: #XXXXXX;

    --heading-font: '______', serif;
    --paragraph-font: "_______"                                


--nav-background-color: #XXXXXX;
--nav-link-color: #XXXXXXX;
--nav-hover-link-color: #XXXXXX;
--nav-hover-link-background-color: #XXXXXX;

}

body{
    f_____: var(--paragraph-font);
    m_____: _____;
    p_____: _____;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 200px;
    background-color: var(--accent1-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-background-color);
    background-color: var(--nav-hover-background-color);
}






























